<h1>Editing Book</h1>
<%= render "layouts/errors", model:@book %>
<%= form_with model: @book, lacal: true do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>
  <%= f.label :body, "Opinion" %>
  <%= f.text_field :body %>
  <%= f.submit "Update Book" %>
<% end %>