<h1 class="mt-3">New book</h1>
<div class="form-group">
  <%= form_with model: model, local: true do |f| %>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, class: "form-control" %>
    <%= f.label :body, "Opinion" %>
    <%= f.text_area :body, class: "form-control" %>
    <%= f.submit "Create Book", class: "btn btn-success mt-3" %>
  <% end %>
</div>
