<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Re</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
        <div class="container">
          <div class="navbar-brond">
            <%= link_to "Bookers", root_path, class: "nav-link text-white" %>
          </div>
          <div>
            <ul class="navbar-nav">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to user_path(current_user), class: "nav-link text-white" do %>
                    <i class="fas fa-home"></i> Home
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to users_path, class: "nav-link text-white" do %>
                    <i class="fas fa-users"></i> Users
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to books_path, class: "nav-link text-white" do %>
                    <i class="fas fa-book-open"></i> Books
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-white" do %>
                    <i class="fas fa-sign-out-alt"></i> logout
                  <% end %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to root_path, class: "nav-link text-white" do %>
                    <i class="fas fa-home"></i> Home
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to about_path, class: "nav-link text-white" do %>
                    <i class="fas fa-link"></i> About
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_registration_path, class: "nav-link text-white" do %>
                    <i class="fas fa-user-plus"></i> Sign up
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_session_path, class: "nav-link text-white" do %>
                    <i class="fas fa-sign-in-alt"></i> login
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <p class="text-success mb-3">
      <%= notice %>
    </p>
    <%= yield %>
    <footer class="mt-5">
      <p class="text-center">CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
